# Python 3.6+
# Selenium 3.4.0+
# Chrome, Firefox and Remote Webdriver supported
# Chrome 浏览器版本 99
selenium==4.0.0
selenium-wire==4.6.3
undetected-chromedriver==3.1.5.post4

blinker==1.4
Brotli==1.0.9
certifi==2021.10.8
h2==4.1.0
hyperframe==6.0.1
packaging==20.9
pyasn1==0.4.8
pydivert==2.1.0
PyExecJS==1.5.1
pyOpenSSL==22.0.0
pyparsing==3.0.6
requests==2.27.1
setuptools==52.0.0.post20210125
wsproto==1.0.0
zstandard==0.17.0